{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for student in students %}
        <div class="col-md-4 d-flex align-items-stretch {% if forloop.last %}mt-4{% endif %}">
            <div class="card shadow-lg mb-4 mt-3 h-90 d-flex flex-column">
                {% if student.photo %}
                <img src="{{ student.photo.url }}" class="card-img-top" alt="Student Photo" style="height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body flex-grow-1">
                    <h5 class="card-title">{{ student.first_name }} {{ student.last_name }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ student.email }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ student.phone }}</p>
                    <br>
                    <a href="{% url 'student_detail' student.id %}" class="btn btn-primary w-100">Details</a>
                </div>
                
        
            </div>
        </div>
        {% empty %}
        <p class="text-center">No students found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
